<!DOCTYPE html>
<html>
<head>
	<title>koa ejs</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<!-- Satrt Backgrounds -->
	<div id="thumbs">
		<a href="img/theme/bg1.jpg"></a>
		<a href="img/theme/bg2.jpg"></a>
		<a href="img/theme/bg3.jpg"></a>
		<a href="img/theme/bg4.jpg"></a>
		<a href="img/theme/bg5.jpg"></a>
		<a href="img/theme/bg6.jpg"></a>
	</div>
	<div id="superbgimage">
		<div class="scanlines"></div>
	</div>
	<!-- End Backgrounds -->

	<!-- Start Wraper  -->
	<div id="wrapper" class="col-md-10 col-md-offset-1">
		<div class="topbar clearfix">
			<div class="pull-left">撸猫猫</div>
			<div class="pull-right">订阅</div>
		</div>

		<!-- Begin Menu -->
	  <div id="menu" class="menu">
	    <ul class="clearfix">
	      <li class="pull-left"><a href="#">Home</a></li>
	      <li class="pull-left"><a href="#">Portfolio</a>
	        <!--ul>
	        	<li><a href="#">Portfolio 5 Columns</a></li>
	      	  <li><a href="#">Portfolio Post</a></li>
	        </ul-->
	      </li>
	      <li class="pull-left"><a href="#">Blog</a>
	        <!--ul>
	      	  <li><a href="#">Blog Post</a></li>
	        </ul-->
	      </li>
	      <li class="pull-left"><a href="#">Pages</a>
	        <!--ul>
	      	  <li><a href="#">Full Width Page</a></li>
	      	  <li><a href="#">Page with Sidebar</a></li>
	        </ul-->
	      </li>
	      <li class="pull-left"><a href="#">Styles</a>
	      	<!--ul>
	      	  <li><a href="#">Buttons Boxes Images</a></li>
	      	  <li><a href="#">Columns</a></li>
	      	  <li><a href="#">Typography</a></li>
	          <li><a href="#">Tabs Toggle Tables</a></li>
	          <li><a href="#">Testimonials</a></li>
	        </ul-->
	      </li>
	      <li class="pull-left"><a href="#">Contact</a></li>
	    </ul>
	  </div>
	  <!-- End Menu -->

	</div>
	<!-- E wraper -->


  <%- body %>

  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/ddsmoothmenu.js"></script>
  <script type="text/javascript" src="js/transify.js"></script>
  <script type="text/javascript" src="js/jquery.superbgimage.min.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>