<!DOCTYPE html>
<html>
<head>
	<title>撸猫猫</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="./public/css/style.css">
	<script type="text/javascript" src="./public/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
</head>
<body>

</body>
</html>